.blog-hero {
  background: #f2c300;
  padding: 100px 10%;
  color: white;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 40px;
}

.blog-item {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.blog-image {
  height: 200px;
  background: #7f9d95;
  margin-bottom: 20px;
}

.read-btn {
  background: #0e5f59;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
}
.blog-hero {
  position: relative;
  width: 100%;
}

.innovation-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  bottom: 60px;
  left: 80px;
  color: white;
}

.hero-overlay button {
  background: white;
  color: #0e5f59;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  margin-top: 20px;
}
.blog-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}