.contact-page {
  padding: 100px 20px;
  text-align: center;
}

.contact-form {
  width: 400px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.contact-form button {
  background: #0e5f59;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
}