body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;   /* default weight */
  margin: 0;
  color: #0e5f59;
}

h1, h2, h3 {
  margin: 0;
}

.container {
  width: 85%;
  margin: auto;
}

button {
  cursor: pointer;
}.page-wrapper {
  background-image: url("../assets/bg.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.page-wrapper {
  background-image: url("../assets/bg.png");
  background-size: cover;
  background-position: center;
}